[submodule "Maverick"]
	path = Maverick
	url = https://github.com/Reedo0910/Maverick.git
[submodule "Templates/Prism"]
	path = Templates/Prism
	url = https://github.com/Reedo0910/Maverick-Theme-Prism.git
	branch = deploy
